body{
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.title{
	font-size: 2rem;
	font-weight: bold;
}

.sub-title{
	font-size: 1.5rem;
	font-weight: bold;
}
